.header {
  .prewiev {
    margin-top: 100px;
    margin-bottom: 160px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 0 auto;
    background-repeat: no-repeat;

    background-size: contain;

    background-image: url('../img/two_line.png'), url('../img/two_line.png');

    background-size: 390px, 390px;

    background-position: top 250px right -90px, top 305px left -20px;
  }
  .img {
    width: 400px;
    height: 400px;
  }
  .title {
    color: map-get($colors, 'school');
    font-weight: 700;
    font-size: 62px;
    line-height: 1.4;
    letter-spacing: 0.05em;
    .span {
      color: whitesmoke;
    }
  }
  .text {
    color: map-get($colors, 'form');
    font-weight: 300;
    font-size: 32px;
    line-height: 1.1;
    letter-spacing: 0.04em;
    .tex-span {
      font-weight: 400;
      color: map-get($colors, 'hair');
    }
  }
}
