.main {
  padding: 150px 320px;

  border: 1px solid red;
}
.article_cv {
  background-color: map-get($colors, 'paper');
  display: flex;
  padding: 10px;
  border: 1px solid blue;
  width: 100%;
  max-width: 1050px;
}
.left_sidebar {
  max-width: 400px;
  width: 100%;

  border-right: 5px dashed map-get($colors, 'black');
}
.img_box {
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 15px auto;
  .img {
    margin: 0 auto;
    width: 250px;
    height: 250px;
    border-radius: 40%;
  }
}

.box_descriptions {
  align-items: center;

  text-align: center;
  margin-bottom: 40px;
  .name {
    margin-bottom: 10px;
  }
  .profession {
    margin-bottom: 20px;
  }
  .about {
    text-align: center;
    padding: 0 50px;
    .span {
      color: map-get($colors, 'hair');
    }
    .span:hover {
      cursor: pointer;
      color: map-get($colors, 'main');
    }
  }
}

.box_interests {
  display: flex;
  flex-direction: column;
  justify-content: center;

  margin-bottom: 40px;

  .title {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  .list {
    display: flex;
    flex-wrap: wrap;
  }

  .item {
    cursor: pointer;
    margin-left: 20px;
    margin-top: 20px;
    flex-basis: calc(100% / 3 - 20px);
    .icon {
      fill: map-get($colors, 'main');
    }
    .icon:hover {
      fill: map-get($colors, 'school');
    }
  }
}

.box_skills {
  padding: 0 30px;
  .title {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
  }

  .list {
    display: flex;
    // align-items: center;
    flex-direction: column;

    // align-items: baseline;
  }
  .item {
    display: flex;
    align-items: center;
    margin: 0 0 10px;
  }
  .div-icon {
    cursor: grab;
    border: 3px groove map-get($colors, 'gray');
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;

    border-radius: 10px;
  }
  .long_box {
    cursor: pointer;
    padding: 1px;
    margin-left: 20px;
    width: 100%;
    max-width: 160px;
    height: 20px;
    border: 5px groove map-get($colors, 'black');
  }
  .div-icon.one {
    background-color: #9dadc3;
  }
  .two {
    background-color: #ccae83;
  }
  .three {
    background-color: #c395b1;
  }
  .four {
    background-color: #b59cb9;
  }
  .five {
    background-color: #ad888a;
  }
  .six {
    background-color: #b0c5a2;
  }
  .how1 {
    width: 98%;
    height: 100%;

    background-color: map-get($colors, 'main');
  }
  .how2 {
    width: 90%;
    height: 100%;

    background-color: map-get($colors, 'main');
  }
  .how3 {
    width: 90%;
    height: 100%;

    background-color: map-get($colors, 'main');
  }
  .how4 {
    width: 85%;
    height: 100%;

    background-color: map-get($colors, 'main');
  }
  .how5 {
    width: 90%;
    height: 100%;

    background-color: map-get($colors, 'main');
  }
  .how6 {
    width: 70%;
    height: 100%;

    background-color: map-get($colors, 'main');
  }
  .div-icon:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
  }
}
