.right_block {
  background-color: map-get($colors, 'paper');
}

.quote {
  display: flex;
  flex-direction: column;

  margin: 30px 30px;

  background-image: url('../..//img/svg/quote.svg');
  background-repeat: no-repeat;
  background-position: 0px 20px;

  background-size: contain;

  .box {
    display: flex;
    align-items: center;

    margin-bottom: 20px;
    .title {
      font-size: 33px;
      line-height: 1.3;
      letter-spacing: 0.06em;
    }
    .line {
      display: flex;

      max-width: 840px;
      width: 100%;

      margin-left: 10px;

      border-top: 4px dashed black;
    }
  }
  .text {
    text-align: center;
    padding: 0 50px;

    font-style: italic;
    font-weight: 300;
    font-size: 25px;
    line-height: 1.3;
    letter-spacing: 0.03em;
  }
}

.formations {
  margin: 0 30px;
  .box {
    display: flex;

    align-items: center;
    margin-bottom: 20px;
    .title {
      font-size: 30px;
    }
    .line {
      display: flex;

      max-width: 800px;
      width: 100%;

      margin-left: 10px;

      border-top: 4px dashed black;
    }
  }
  .list {
    display: flex;
    flex-direction: column;
  }
  .item {
    display: flex;
    align-items: end;

    margin-bottom: 20px;
    .div-icon {
      display: flex;
      justify-content: center;
      align-items: center;

      max-width: 45px;
      min-width: 25px;
      width: 100%;
      height: 45px;

      margin-right: 15px;

      border-radius: 50%;
      background-color: map-get($colors, 'main');

      cursor: pointer;
    }
    .icon {
      fill: map-get($colors, 'hairs');
    }
    .div-icon:hover {
      -webkit-box-shadow: 12px 3px 13px -3px rgba(0, 0, 0, 0.37);
      box-shadow: 12px 3px 13px -3px rgba(0, 0, 0, 0.37);

      -webkit-transform: translateX(1px);
      transform: translateX(1px);

      background-color: map-get($colors, 'school');

      .icon {
        fill: map-get($colors, 'white');
      }
    }
  }
  .block-descr {
    display: flex;
    flex-direction: column;

    .title-descr {
      font-weight: 700;
      font-size: 22px;
      line-height: 1.1;
      letter-spacing: 0.04em;
      color: map-get($colors, 'hair');

      cursor: pointer;
    }
    .where {
      color: map-get($colors, 'hair');

      font-size: 15px;
      line-height: 1.1;
      letter-spacing: 0.05em;
      cursor: pointer;
    }
    .descr {
      margin-top: 4px;
      font-size: 18px;
      line-height: 1.1;
      letter-spacing: 0.04em;
    }
    .link {
      cursor: pointer;
      color: map-get($colors, 'hair');
    }
    .link:hover {
      text-decoration: underline;
      color: map-get($colors, 'school');
    }
  }
}
.item-school {
  margin-top: 10px;
  margin-left: 10px;

  .linka {
    text-decoration: none;
    cursor: pointer;
    color: map-get($colors, 'hair');
  }
  .linka:hover {
    text-decoration: underline;
    color: map-get($colors, 'black');
  }
  .title-school {
    margin-bottom: 3px;

    font-size: 18px;
    line-height: 1.1;
    letter-spacing: 0.04em;
    color: map-get($colors, 'hair');
  }
  .text-school {
    margin-left: 15px;

    font-size: 17px;
    line-height: 1.3;
    letter-spacing: 0.05em;
  }
}

.buttom {
  display: flex;
  flex-wrap: wrap;

  padding-top: 20px;

  border-top: 5px dashed map-get($colors, 'black');

  .languages {
    padding-left: 30px;
    margin-right: 70px;
  }
}
.languages {
  .title {
    display: flex;
    justify-content: center;

    font-size: 33px;

    line-height: 1.3;
    letter-spacing: 0.05em;
  }
  .item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 90px;

    margin-top: 30px;
  }

  .img {
    width: 100%;
    height: 100%;
    max-width: 160px;

    border: 5px solid map-get($colors, 'main');
    border-radius: 20px;
  }
}
.contact {
  .title {
    display: flex;
    justify-content: center;

    margin-bottom: 30px;

    font-size: 33px;

    line-height: 1.3;
    letter-spacing: 0.05em;
  }
  .list {
    .item {
      display: flex;
      align-items: center;
    }
    .item:not(:last-child) {
      margin-bottom: 15px;
    }
    .div-icon {
      cursor: pointer;
      margin-right: 20px;
    }
    .icon {
      fill: map-get($colors, 'main');
    }

    .link {
      font-size: 19px;

      line-height: 1.3;
      letter-spacing: 0.02em;
      color: map-get($colors, 'form');
    }
    .link-box {
      padding: 5px 15px;
      border: 4px solid map-get($colors, 'main');
      border-radius: 25px;
    }
  }
  .item:hover {
    .icon {
      fill: map-get($colors, 'hair');
    }
    .link {
      color: map-get($colors, 'school');
      text-decoration: underline;
    }
    .link-box {
      border: 4px dashed map-get($colors, main);
    }
  }
}
